<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{1,593},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{1,100},{84,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{1,496},{84,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{1,199},{84,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{1,298},{84,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,97}</string>
                <key>spriteSourceSize</key>
                <string>{84,97}</string>
                <key>textureRect</key>
                <string>{{1,397},{84,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Birzzle.png</string>
            <key>size</key>
            <string>{86,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fd2982ab2f6e285730f13d077a6e4ae:fb5ed380d44a142335d02b91168748ac:b7af49f2d3a8340a7b8404ae3d2f68d4$</string>
            <key>textureFileName</key>
            <string>Birzzle.png</string>
        </dict>
    </dict>
</plist>
